<html>
<head>
    <title>upload</title>
</head>
<body>
    <form action = "/success" method = "post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type = "submit" value="Upload">
         <p>new directory name<input type = "text" name = "Name" /></p>
        <input type="file" id="file" name="file" accept=".csv" multiple />
    <p>
       <button type="submit" formaction="/data">Submit to another page</button>
        <p>list directory<input type = "text" name = "listName" /></p>
      <button type="submit" formaction="/display">Submit to another page</button>
    </form>

</body>
</html>