<html>
<head>
    <link rel="stylesheet" href='/staticfiles/main.css' />
</head>
<body>
  <form action = "/success" method = "post" enctype="multipart/form-data">
    <div1>
    <p>Select Database:</p>
    </div1>
    <div1>
    <input type = "radio" id = "firebase" name = "database" value = "firebase">
    <label for = "firebase">Firebase</label>
    <input type = "radio" id="mysql" name="database" value="mysql">
    <label for = "mysql">MySQL</label><br><br>
    </div1>
    <div1>
      <span>Make directory <input type = "text" name = "MkdirName" placeholder="New directory name"/></span>
      <span><button type="submit" formaction="/data">Submit</button></span>
    </div1>
    <br><br>
    <div2>
      <span>Add a file to the database </span>
      <span><input type="file" name="file" /></span>
      <span><input type = "submit" value="Upload File" /></span>
    </div2>
    <br><br>
    <div3>
      <span>Load Data <input type = "text" name = "loadDataName" placeholder="Directory to load into" /></span>
      <span>File name to load <input type = "text" name = "filename" placeholder="Filename to load"/></span>
      <span>Num of partions <input type = "text" name = "num_partitions" placeholder="Number of partitions"/></span>
      <span><button type="submit" formaction="/data">Submit</button></span>
    </div3>
    <br><br>
    <div4>
      <span>List Directory <input type = "text" name = "list" placeholder="Directory to ls from"/></span>
      <span><button type="submit" formaction="/data">List Content</button></span>
    </div4>
    <br><br>
    <div5>
      <span>Remove <input type = "text" name = "remove" placeholder="Object to delete"/></span>
      <span><button type="submit" formaction="/data">Submit</button></span>
    </div5>
    <br><br>
    <div5>
      <span>Cat <input type = "text" name = "cat" placeholder="Object to show"/></span>
      <span><button type="submit" formaction="/data">Submit</button></span>
    </div5>
    <br><br>
    <div5>
      <span>Get Partitions <input type = "text" name = "getpart" placeholder="Filename"/></span>
      <span><button type="submit" formaction="/data">Submit</button></span>
    </div5>
    <br><br>
    <div3>
      <span>Read Partition of File <input type = "text" name = "readpart" placeholder="Filename to read" /></span>
      <span>Partition<input type = "text" name = "partition" placeholder="Partition number"/></span>
      <span><button type="submit" formaction="/data">Submit</button></span>
    </div3>
    <br><br>
    <div5>
      <span>Get Highest Chocolate Rating <input type = "text" name = "chocrate" placeholder="Compaany Location"/></span>
      <span><button type="submit" formaction="/data">Submit</button></span>
    </div5>
    <br><br>
    <div5>
      <span>Get Countries above score <input type = "text" name = "happyrate" placeholder="Score from 1-7"/></span>
      <span><button type="submit" formaction="/data">Submit</button></span>
    </div5>
  </form>
</body>
</html>