<form action="/data" method = "POST">
    <p>new directory name<input type = "text" name = "Name" /></p>
    <p>table name<input type = "text" name = "TableName" /></p>
    <p>
        <label for="file">Choose file to upload</label>
        <input type="file" id="file" name="file" accept=".csv" multiple />
    </p>
    <!--<p>Country <input type = "text" name = "Country" /></p>-->
    <p>list directory<input type = "text" name = "listName" /></p>
    <p><input type = "submit" value = "Submit" /></p>
    
</form>